.category-item-box{
  display: flex;
  flex: 1;
  margin: 0 1em 1em 0;
  .content{
    margin-left: 15px;
    .price{
      font-weight: 600;
      display: flex;
      .total{
        margin-left: 5px;
      }
    }
  }
}