.accumulation-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .image {
        height: 45px;
        width: 45px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        position: relative;
        .background-color {
            width: 100%;
            height: 100%;
            opacity: 0.2;
            border-radius: 50%;
        }
        img {
            position: absolute;
            top: 30%;
            left: 30%;
        }
    }
    .right-row {
        width: 80%;
        .name-sum {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }
        .goal-item {
            display: flex;
            align-items: center;
            width: 100%;
            .goal-name {
                color: #001026;
                font-size: 13px;
                margin-right: 10px;
            }
            .progress-bar {
                width: 100%;
            }
        }
    }
}