.accumulation-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .image {
        height: 45px;
        width: 45px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        position: relative;
        .background-color {
            width: 100%;
            height: 100%;
            opacity: 0.2;
            border-radius: 50%;
        }
        img {
            position: absolute;
            top: 30%;
            left: 30%;
        }
    }
    .right-row {
        width: 80%;
    }
}