.icons{
  //background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: 5px solid transparent;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  //.selected{
  //  border: 5px solid;
  //}
  .image{
    width: 45px !important;
    height: 45px !important;
  }
}