.operation-item-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    .left-row {
        display: flex;
        align-items: center;
        flex-direction: row;
        .info-box {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            .category-bill {
                display: flex;
                flex-direction: row;
                margin-bottom: 5px;
                align-items: center;
                .category-name {
                    font-size: 15px;
                    color: #001026;
                    margin-right: 10px;
                }
                .bill-name {
                    color: #616C7A;
                    font-size: 13px;
                }
            }
            .comment {
                font-size: 13px;
                color: #616C7A;
            }
        }
    }
    .right-row {
        color: #001026;
        font-size: 15px;
    }
}